 body{-color: black;
    font-family: "Nerko One", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0%;
   
 } 

button{
   background-color: black;
   color: pink;
   font-family: "Nerko One", system-ui;
}